<component name="libraryTable">
  <library name="尚硅谷Spring之Aspect需要导入的包">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../jar包/尚硅谷Spring之Aspect需要导入的包" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../jar包/尚硅谷Spring之Aspect需要导入的包" recursive="false" />
  </library>
</component>